{{ define "title" }}Account{{ end }}

{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/">Dashboard</a></li>
  <li class="active">Account (<span id="top-account-name">{{ .Admin.Handle }}</span>)</li>
</ol>

<div class="page-header">
  <h3>Edit Account</h3>

  <div class="page-header">
    <h4>Change Handle</h4>
  </div>

  <div class="row">
    <form id="admin-handle-form" method="POST" accept-charset="UTF-8">
      {{ $.csrfField }}

      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="input-group">
          <span class="input-group-addon">
            Handle
          </span>

          <input id="admin-form-handle" name="new_handle" type="text" 
            class="form-control" value="{{ .Admin.Handle }}" autocomplete="off">
          
          <span class="input-group-btn">
            <button id="submit-handle-change" class="btn btn-default" type="submit">
              Save
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>

  <div class="page-header">
    <h4>Change Password</h4>
  </div>

  <div class="row">
    <form id="admin-password-form" method="POST" accept-charset="UTF-8">
      {{ $.csrfField }}

      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="input-group">
          <span class="input-group-addon">
            Old Password
          </span>

          <input id="admin-form-old-password" name="old_password" 
            type="password" class="form-control" placeholder="********" 
            autocomplete="off" required>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="input-group">
          <span class="input-group-addon">
            New Password
          </span>

          <input id="admin-form-password" name="new_password" 
            type="password" class="form-control" placeholder="********" 
            autocomplete="off" required>
        </div>
      </div>      

      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="input-group">
          <span class="input-group-addon">
            Confirm Password
          </span>

          <input id="admin-form-confirm-password" name="confirm_new_password" 
            type="password" class="form-control" placeholder="********" 
            autocomplete="off" required>
          
          <span class="input-group-btn">
            <button id="submit-password-change" class="btn btn-default" type="submit">
              Save
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger row buffered-row" role="alert" 
    id="change-password-form-error-container" hidden>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Errors:</span>
  </div>
</div>

{{ $admins := filterAdmin .Admin .Admins }}

{{ if eq (len $admins) 0 }}
<div class="page-header" id="admin-list-header" hidden>
{{ else }}
<div class="page-header" id="admin-list-header">
{{ end }}
  <h3>Other Admins</h3>
</div>

{{ if eq (len $admins) 0 }}
<div class="table-responsive panel panel-default" id="admin-list-wrapper" hidden>
{{ else }}
<div class="table-responsive panel panel-default" id="admin-list-wrapper">
{{ end }}
  <div class="panel-heading">Other Admins</div>

  <table class="table" id="admin-selection-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Admin Handle</th>
        <th></th>
      </tr>
    </thead>

    <form id="delete-admin-form" method="POST" accept-charset="UTF-8">
      {{ $.csrfField }}

      <tbody>
        {{ range $index, $element := $admins }}
          {{ if ne $element.ID $.Admin.ID }}
            <tr data-admin-id="{{ $element.ID }}" data-admin-handle="{{ $element.Handle }}">
              <th class="col-md-1 col-lg-1 col-xl-1 row-number" scope=row>{{ inc $index }}</th>
              <td class="col-md-10 col-lg-10 col-xl-10">{{ $element.Handle }}</td>

              <td class="col-md-1 col-lg-1 col-xl-1">
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                  <button class="btn btn-danger btn-xs pull-right delete-button" 
                    data-title="Delete" data-toggle="modal" data-target="#delete">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </p>
              </td>
            </tr>
          {{ end }}
        {{ end }}
      </tbody>
    </form>
  </table>
</div>

<div class="page-header">
  <h3>Create New Admin</h3>
</div>

<div class="row">
  <form id="add-admin-form" method="POST" accept-charset="UTF-8">
    {{ $.csrfField }}

    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="input-group">
        <span class="input-group-addon">
          Handle
        </span>

        <input id="add-admin-form-handle" name="handle" 
          type="text" class="form-control" placeholder="admin123" autocomplete="off">
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="input-group">
        <span class="input-group-addon">
          Password
        </span>

        <input id="add-admin-form-password" name="password" 
          type="password" class="form-control" placeholder="********" autocomplete="off">
      </div>
    </div>

    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
      <div class="input-group">
        <span class="input-group-addon">
          Confirm Password
        </span>

        <input id="add-admin-form-confirm-password" name="confirm_password" 
          type="password" class="form-control" placeholder="********" autocomplete="off">
        
        <span class="input-group-btn">
          <button id="submit-add-admin" class="btn btn-default" type="submit">Add Admin</button>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="alert alert-danger row buffered-row" role="alert" 
  id="add-admin-form-error-container" hidden>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Errors:</span>
</div>
{{ end }}

{{ define "scripts"}}
<script>
  var socketURL = "{{ .SocketURL }}";
</script>
<script src="/js/account.js"></script>
{{ end }}
