{{ define "title" }}Account{{ end }}

{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/">Dashboard</a></li>
  <li class="active">Account ({{ .Admin.Handle }})</li>
</ol>

<div class="page-header">
  <h3>Edit Account</h3>

  <div class="page-header">
    <h4>Change Handle</h4>
  </div>

  <div class="row">
    <form id="admin-handle-form" method="POST" accept-charset="UTF-8">
      {{ .ChangeHandleField }}

      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="input-group">
          <span class="input-group-addon">
            Handle
          </span>

          <input id="admin-form-handle" name="handle" type="text" class="form-control" value="{{ .Admin.Handle }}">
          
          <span class="input-group-btn">
            <button id="submit-handle-change" class="btn btn-default" type="button">Save</button>
          </span>
        </div>
      </div>
    </form>
  </div>

  <div class="page-header">
    <h4>Change Password</h4>
  </div>

  <div class="row">
    <form id="add-admin-form" method="POST" accept-charset="UTF-8">
      {{ .ChangePasswordField }}

      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="input-group">
          <span class="input-group-addon">
            New Password
          </span>

          <input id="admin-form-password" type="password" class="form-control">
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="input-group">
          <span class="input-group-addon">
            Confirm Password
          </span>

          <input id="admin-form-confirm-password" type="password" class="form-control">
          
          <span class="input-group-btn">
            <button id="submit-admin" class="btn btn-default" type="button">Save</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="page-header">
  <h3>Other Admins</h3>
</div>

{{ $admins := filterAdmin .Admin .Admins }}

{{ if ne (len $admins) 0 }}
<div class="table-responsive panel panel-default">
  <div class="panel-heading">Current Admins</div>

  <table class="table" id="admin-selection-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Admin Handle</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{ range $index, $element := $admins }}
        {{ if ne $element.ID $.Admin.ID }}
          <tr data-network-id="{{ $element.ID }}" data-network-name="{{ $element.Handle }}">
            <th class="col-md-1 col-lg-1 col-xl-1" scope=row>{{ inc $index }}</th>
            <td class="col-md-10 col-lg-10 col-xl-10">{{ $element.Handle }}</td>

            <td class="col-md-1 col-lg-1 col-xl-1">
              <p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs pull-right delete-button" data-title="Delete" data-toggle="modal" data-target="#delete">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </p>
            </td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

<div class="page-header">
  <h3>Create New Admin</h3>
</div>

<div class="row">
  <form id="add-admin-form" method="POST" accept-charset="UTF-8">
    {{ .AddAdminField }}
    <input id="add-admin-element" type="hidden" class="form-control">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="input-group">
        <span class="input-group-addon">
          Handle
        </span>

        <input id="admin-form-name" type="text" class="form-control" placeholder="admin123">
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="input-group">
        <span class="input-group-addon">
          Password
        </span>

        <input id="admin-form-name" type="password" class="form-control" placeholder="********">
      </div>
    </div>

    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
      <div class="input-group">
        <span class="input-group-addon">
          Confirm Password
        </span>

        <input id="admin-form-port" type="password" class="form-control" placeholder="********">
        
        <span class="input-group-btn">
          <button id="submit-admin" class="btn btn-default" type="button">Add Admin</button>
        </span>
      </div>
    </div>
  </form>
</div>
{{ end }}

{{ define "scripts"}}
<script>
  var socketURL = "{{ .SocketURL }}";
</script>
<script src="/js/account.js"></script>
{{ end }}
