{{ define "title" }}Dashboard{{ end }}

{{ define "content" }}
<!-- Main component for a primary marketing message or call to action -->
<!-- <div class="jumbotron">
  <h1>Navbar example</h1>
  <p>
    Outline: Maybe use the area this jumbotron is in to display live tickers of some sort displaying what captioners are currently captioning which networks
  </p>

  <p>
    The space below can show information in a list about which networks are currently configured, and summary information about their configurations. Clicking on one will navigate to an edit network page where outgoing servers can be viewed and configured for a given network.
  </p>
</div> -->

<!-- Maybe use http://getbootstrap.com/css/#tables-contextual-classes to indicate what networks are experiencing problems  -->
<div class="table-responsive panel panel-default">
  <div class="panel-heading">Current Networks</div>

  <table class="table table-hover" id="network-selection-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Network Name</th>
        <th>Port</th>
        <th>
          &nbsp;
        </th>
        <!-- <th># of Captioners</th>
        <th>Status</th> -->
      </tr>
    </thead>

    <tbody>
    {{ range $index, $element := .Networks }}
      <tr data-network-id="{{ $element.ID }}" data-network-name="{{ $element.Name }}">
        <th class="col-md-1" scope=row>{{ inc $index }}</th>
        <td class="col-md-5">{{ $element.Name }}</td>
        <td class="col-md-5">{{ $element.ListeningPort }}</td>

        <td class="col-md-1">
          <p data-placement="top" data-toggle="tooltip" title="Delete">
            <button class="btn btn-danger btn-xs pull-right delete-button" data-title="Delete" data-toggle="modal" data-target="#delete">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </p>
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<div class="page-header">
  <h3>Add a Network</h3>
</div>

<div>
  <div class="row">
    <form id="add-network-form" method="POST" accept-charset="UTF-8">
      {{ .AddNetworkField }}

      <input id="add-network-element" type="hidden" class="form-control">
      <div class="col-lg-5">
        <div class="input-group">
          <span class="input-group-addon">
            Name
          </span>

          <input name="name" id="network-form-name" type="text" class="form-control" placeholder="C-SPAN">
        </div>
      </div>

      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon">
            Port
          </span>

          <input name="listening_port" id="network-form-port" type="text" class="form-control" placeholder="4000">

          <span class="input-group-btn">
            <button id="submit-network" class="btn btn-default" type="button">Add Network</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

{{ end }}

{{ define "scripts" }}
<script>
  var socketURL = "{{ .SocketURL }}";
</script>
<script src="/js/websocket.js"></script>
<script src="/js/dashboard.js"></script>
{{ end }}
