{{ define "title" }}Dashboard{{ end }}

{{ define "content" }}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Navbar example</h1>
  <p>
    Outline: Maybe use the area this jumbotron is in to display live tickers of some sort displaying what captioners are currently captioning which networks
  </p>

  <p>
    The space below can show information in a list about which networks are currently configured, and summary information about their configurations. Clicking on one will navigate to an edit network page where outgoing servers can be viewed and configured for a given network.
  </p>
</div>

<!-- Maybe use http://getbootstrap.com/css/#tables-contextual-classes to indicate what networks are experiencing problems  -->
<div class="table-responsive panel panel-default">
  <div class="panel-heading">Current Networks</div>

  <table class="table table-hover" id="network-selection-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Network Name</th>
        <th># of Captioners</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
    {{range $index, $element := .Networks}}
      <tr data-network-id="{{ $element.ID}}">
        <th scope=row>{{ $index }}</th>
        <td>{{ $element.Name }}</td>
        <td>2</td>
        <td>Okay</td>
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
