{{ define "title" }}Network - {{ end }}

{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/">Dashboard</a></li>
  <li class="active">Networks ({{ .Network.Name }})</li>
</ol>

<div class="page-header">
  <h1>{{ .Network.Name }} <small>({{ len .Encoders }} encoders)</small></h1>
</div>

<div class="table-responsive panel panel-default">
  <div class="panel-heading">Encoders</div>

  <table class="table table-hover" id="encoder-selection-table">
    <thead>
      <tr>
        <th>#</th>
        <th>IP Address</th>
        <th>Name</th>
        <th>Port</th>
        <th>Handle</th>
        <th>Password</th>
      </tr>
    </thead>

    <tbody>
    {{range $index, $element := .Encoders }}
      <tr data-encoder-id="{{ $element.ID }}">
        <th scope=row>{{ inc $index }}</th>
        <td>{{ $element.IPAddress }}</td>
        <td>{{ $element.Name.Value }}</td>
        <td>{{ $element.Port }}</td>
        <td>{{ $element.Handle }}</td>
        <td>{{ $element.Password }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>

<div class="page-header">
  <h3>Add an Encoder</h3>
</div>

<div>
  <div class="row">
    <form id="add-encoder-form" method="POST" accept-charset="UTF-8">
      <input id="add-encoder-network-element" type="hidden" class="form-control" value="{{ .Network.ID }}">
      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon">
            IP Address
          </span>

          <input id="encoder-form-ip" type="text" class="form-control" placeholder="192.168.1.1">
        </div>
      </div>

      <div class="col-lg-5">
        <div class="input-group">
          <span class="input-group-addon">
            Name
          </span>

          <input id="encoder-form-name" type="text" class="form-control" placeholder="Optional">
        </div>
      </div>

      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon">
            Port
          </span>

          <input id="encoder-form-port" type="text" class="form-control" placeholder="8080">
        </div>
      </div>

      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-addon">
            Handle
          </span>

          <input id="encoder-form-handle" type="text" class="form-control" placeholder="user123">
        </div>
      </div>

      <div class="col-lg-5">
        <div class="input-group">
          <span class="input-group-addon">
            Password
          </span>

          <input id="encoder-form-password" type="text" class="form-control" placeholder="********">


          <span class="input-group-btn">
            <button id="submit-encoder" class="btn btn-default" type="button">Add Encoder</button>
          </span>
        </div>
      </div>

    </form>
  </div>
</div>

{{ end }}

{{ define "scripts"}}
<script src="/js/networks.js"></script>
{{ end }}
