{{ define "title" }}Network - {{ end }}

{{ define "content" }}

<ol class="breadcrumb">
  <li><a href="/">Dashboard</a></li>
  <li class="active">Networks</li>
</ol>

<div class="page-header">
  <h1>Network Name <small>(n servers)</small></h1>
</div>

<div class="table-responsive panel panel-default">
  <div class="panel-heading">Servers</div>

  <table class="table table-hover" id="servers-selection-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>IP Address</th>
        <th>Port</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope=row>1</th>
        <td>Fox News</td>
        <td>2</td>
        <td>
          Okay <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
        </td>
      </tr>

      <tr class="danger">
        <th scope=row>2</th>
        <td>CSPAN 2</td>
        <td>0</td>
        <td>Lost connection to downstream</td>
      </tr>

      <tr>
        <th scope=row>3</th>
        <td>For Business</td>
        <td>3</td>
        <td>Okay</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h3>Add a Server</h3>
</div>

<div>
  <div class="row">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon">
          IP Address
        </span>

        <input type="text" class="form-control" placeholder="192.168.1.1">
      </div>
    </div>

    <div class="col-lg-3">
      <div class="input-group">
        <span class="input-group-addon">
          Port
        </span>

        <input type="text" class="form-control" placeholder="8080">
      </div>
    </div>

    <div class="col-lg-5">
      <div class="input-group">
        <span class="input-group-addon">
          Name
        </span>

        <input type="text" class="form-control" placeholder="Optional">

        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Add Server</button>
        </span>
      </div>
    </div>
  </div>
</div>

{{ end }}
